.news-section {
  background-image: url("https://4.bp.blogspot.com/-5qDBRiZZZSk/U3Fh4DMpC1I/AAAAAAAACB4/_5Z4vsx1n8w/s1600/wallpaper_battlefield_2_03_1600_original.jpg");
  background-position: cover;
  background-repeat: no-repeat;
}